* {
  box-sizing: border-box;
}

h6 {
  font-family: sofia;
  font-size: 16pt;
  text-align: center;
  margin: 0;
  font-weight: lighter;
}
body {
  background-color: #f1c4c9;
  margin: auto;
  width: 100%;
  max-width: 1280px;
  min-width: 640px;
}
div {
  border: 2px solid #1e162d;
  width: 100%;
  max-width: 1280px;
  min-width: 640px;
}
footer {
  background-color: #c7d9e7;
  color: #1e162d;
  border: 2px solid #1e162d;
  width: auto;
  padding: 10px;
  bottom: 0;
  text-align: center;
  font-size: 18pt;
}

#headerDiv {
  background-color: #c7d9e7;
  margin-top: 1%;
}
.Title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #1e162d;
  background-color: #c7d9e7;
}

/*Column syles*/

.column {
  float: left;
  padding: 10px;
  height: 585px; /* Should be removed. Only for demonstration */
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
#leftside {
  width: 30%;
  background-color: white;
}

#leftside > h2 {
  text-align: center;
  font-size: 20pt;
  font-family: "Bagel Fat One", sans-serif;
}

#leftside > ul > li {
  list-style: none;
  display: inline;
  font-size: 12pt;
  font-weight: bold;
  text-align: left;
}
#leftside ul li a img {
  border: 4pt solid #fdcee4;
  border-radius: 8px;
  padding: 5px;
}
#leftside ul li a img:hover {
  transform: translateY(-10px);
  transition: transform 0.5s;
}

#rightside {
  background-color: #9ab5b0;
  width: 70%;
  overflow-y: scroll;
}

section#rightside h1 {
  text-align: Center;
  margin: 0;
  font-family: "Bagel Fat One", sans-serif;
}
#rightside dt {
  display: block;
  font-family: cursive;
  margin-left: 30px;
  margin-top: 5px;
  text-indent: 0;
  font-weight: bold;
  font-size: 18pt;
  border-bottom: 1px solid #f1c4c9;
}
#rightside dd {
  display: block;
  font-family: "sofia";
  font-size: 14pt;
  margin: 1% 0 0 0;
  text-indent: 0;
}
#rightside > h2 {
  text-align: left;
  font-size: 18pt;
  font-family: "Bagel Fat One", sans-serif;
  margin-top: 5px;
  margin-bottom: 0;
}
#rightside > p {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Sofia";
  color: #1e162d;
}

#rightside > dt {
  margin-left: 30px;
  margin-top: 5px;
}

/*Navagational Bar*/
.NavList {
  margin: 0px;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
  justify-content: center;
}
.MainNavLink:link {
  padding: 0 25px 0 25px;
}
.MainNavLink:link,
.MainNavLink:visited {
  text-decoration: none;
  color: #ecf1eb;
  font-weight: 800;
  transition: all 0.3s;
  font-size: 14pt;
}
.MainNavLink:hover,
.MainNavLink:active {
  color: #f1c4c9;
  font-size: 16pt;
}
.NavBar {
  background-color: #1e162d;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 2px;
}
